
html {
  background: url("img/field.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

/* #background {
    background-image: url("img/field.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width:100%;
    height:100%;
} */

  /* #background img.charmander {
    position: relative;
    width: 15em;
    left: 45em;
    top: 35em;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 30;
    animation-duration: 0.1s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    }
  
  #background img.chameleon {
    position: absolute;
    width: 25em;
    left: 40em;
    top: 30em;
    transform: translate(-50%, -50%);
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 30;
    animation-duration: 0.1s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-delay: 1s;
  }

@keyframes cf3FadeInOut {
    0% {
    opacity:1;
    }
    25% {
    opacity:0.75;
    }
    50% {
    opacity:0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
    opacity:0;
    }
  }

  #background img.charmander {
    position: relative;
    width: 15em;
    left: 45em;
    top: 35em;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 30;
    animation-duration: 0.1s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    }
  
  #background img.chameleon {
    position: absolute;
    width: 25em;
    left: 40em;
    top: 30em;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 30;
    animation-duration: 0.1s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-delay: 1s;
  } */